/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: auto;
  margin: auto;
  /* background-color:#fcbb85; */
  background-color: #decab0;
  padding: 20px;
}

#navBar {
  background-color: #c94e45;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: darkred;
}

#navBar h1 {
  color: black;
  font-family: "DM Serif Display", serif;
  font-size: 125px;
  font-weight: bold;
}

#navBar img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 48px;
}

/* MENU */

#menu {
  background-color: #decab0;
  font-family: "DM Serif Display", serif;
}

#menu h2 {
  display: flex;
  justify-content: center;
  color: #5a6050;
  margin: 15px;
  font-size: 80px;
  font-weight: bold;
}

#menuDesign {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#items1 {
  margin: 20px;
  padding: 10px;
  font-size: x-large;
  border-style: solid;
  border-color: rgb(151, 68, 47);
  border-radius: 5px;
  background-color: #f1ab39;
}

#design {
  display: flex;
  flex-direction: column;
}

#design img {
  width: 600px;
  height: 650px;
  color-adjust: #fcbb85;
  /* background: #fcbb85; */
  border-radius: 8px;
}

#design2 img {
  width: 365px;
  height: 420px;
  border-radius: 8px;
}

#items3 {
  margin: 20px;
  padding: 10px;
  background-color: #87a892;
  font-size: x-large;
  border-style: solid;
  border-color: rgb(151, 68, 47);
  border-radius: 5px;
}

#items4 {
  margin: 20px;
  padding: 10px;
  background-color: #285651;
  font-size: x-large;
  border-style: solid;
  border-color: rgb(151, 68, 47);
  border-radius: 5px;
}

#items2 {
  margin: 20px;
  padding: 10px;
  background-color: #e18a50;
  font-size: x-large;
  color: black;
  border-style: solid;
  border-color: rgb(151, 68, 47);
  border-radius: 5px;
}

#items h3 {
  font-family: "DM Serif Display", serif;
  margin: 20px;
  font-weight: bolder;
  font: 85px;
}

h5 {
  color: #3a1e12;
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
}

p {
  color: rgb(226 100 44);
  font-family: "DM Serif Display", serif;
  font-weight: bold;
}

p1 {
  color: peru;
  font-family: "Monofett", cursive;
  font-size: 60px;
}


/* EXTRA ITEMS */
#foods{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#foods h5{
    text-decoration: none;
}

#softDrinks{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#softDrinks h5{
    text-decoration: none;
}

/* CREDIT */
#footer{
    margin-top: 60px;
    margin-bottom: 10px;
}

h6{
    font-family: "DM Serif Display", serif; 
}
